coqui-tts==0.27.2
soundfile==0.13.1
numpy==1.26.4
scipy==1.13.1
tokenizers==0.21.4
soxr==0.3.7
transformers==4.55.4
torch==2.8.0
torchaudio==2.8.0
Flask==3.1.2
faster-whisper==1.2.1
ctranslate2==4.5.0
onnxruntime==1.19.2
phonemizer
python-dotenv
edge-tts
requests==2.31.0
pvporcupine
pvrecorder